%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

.svg-btn-play {
	@extend %svg-common;
	background-position: 0 0;
	width: 108px;
	height: 80px;
}

.svg-icn-avatar {
	@extend %svg-common;
	background-position: 19.708029197080293% 20.72538860103627%;
	width: 24px;
	height: 24px;
}

.svg-icn-chevron {
	@extend %svg-common;
	background-position: 23.571428571428573% 26.94300518134715%;
	width: 12px;
	height: 24px;
}

.svg-icn-chevron-accordion-blue {
	@extend %svg-common;
	background-position: 25.714285714285715% 31.683168316831683%;
	width: 12px;
	height: 6px;
}

.svg-icn-chevron-medium-blue {
	@extend %svg-common;
	background-position: 27.659574468085108% 34.01015228426396%;
	width: 8px;
	height: 16px;
}

.svg-icn-chevron-medium-white {
	@extend %svg-common;
	background-position: 29.078014184397162% 38.07106598984772%;
	width: 8px;
	height: 16px;
}

.svg-icn-chevron-small-blue {
	@extend %svg-common;
	background-position: 30.3886925795053% 41.70854271356784%;
	width: 6px;
	height: 12px;
}

.svg-icn-hamburger {
	@extend %svg-common;
	background-position: 32.481751824817515% 45.17766497461929%;
	width: 24px;
	height: 16px;
}

.svg-icn-instagram {
	@extend %svg-common;
	background-position: 37.407407407407405% 51.32275132275132%;
	width: 32px;
	height: 32px;
}

.svg-icn-phone {
	@extend %svg-common;
	background-position: 42.0863309352518% 57.36040609137056%;
	width: 16px;
	height: 16px;
}

.svg-icn-search-blue {
	@extend %svg-common;
	background-position: 45.289855072463766% 62.05128205128205%;
	width: 20px;
	height: 20px;
}

.svg-icn-search-grey {
	@extend %svg-common;
	background-position: 48.91304347826087% 67.17948717948718%;
	width: 20px;
	height: 20px;
}

.svg-icn-search-white {
	@extend %svg-common;
	background-position: 52.53623188405797% 72.3076923076923%;
	width: 20px;
	height: 20px;
}

.svg-icn-x {
	@extend %svg-common;
	background-position: 55.75539568345324% 76.6497461928934%;
	width: 16px;
	height: 16px;
}

.svg-icn_filter {
	@extend %svg-common;
	background-position: 59.05797101449275% 81.53846153846153%;
	width: 20px;
	height: 20px;
}

.svg-logo {
	@extend %svg-common;
	background-position: 85.12397100864524% 93.37016574585635%;
	width: 165.534px;
	height: 48px;
}

.svg-logo-mobile {
	@extend %svg-common;
	background-position: 99.93675876984096% 100%;
	width: 59.676px;
	height: 24px;
}

