{{> organisms-header }}
{{> molecules-hero }}

<section class="featured">
	<h2 class="featured__heading">Featured</h2>
	{{# listItems.four }}
		<!-- {> article-teaser } -->
	{{/ listItems.four }}
</section>
